spring:
  application:
    name: auth-service

  data:
    mongodb:
      uri: mongodb+srv://micro:992345%40Mphr@cluster0.mziiy.mongodb.net/authdb?retryWrites=true&w=majority&appName=Cluster0

server:
  port: 8081
