# Java
*.class
*.jar
*.war
*.ear
target/

# Ignore all Spring Boot secrets
application.yml
application.yaml

# IDEA / build files
*.iml
target/
.gradle/
build/


# Maven
.mvn/
log/
logs/
mvnw
mvnw.cmd

# IntelliJ
.idea/
*.iml
out/

# VS Code
.vscode/

# Mac
.DS_Store

# Node
node_modules/
build/

# Logs
*.log

# Environment files
.env


# Ignore environment config
src/main/resources/application.yml
src/main/resources/application.yaml

### ignore sensitive configs ###
auth-service/src/main/resources/*.yaml
auth-service/src/main/resources/*.yml
auth-service/src/main/resources/application.yaml
auth-service/src/main/resources/application.yml

### ignore local env ###
*.env
*.properties
