# Java
*.class
*.jar
*.war
*.ear
target/

# IDEA / build files
*.iml
target/
.gradle/
build/


# Maven
.mvn/
log/
logs/
mvnw
mvnw.cmd

# IntelliJ
.idea/
*.iml
out/

# VS Code
.vscode/

# Mac
.DS_Store

# Node
node_modules/
build/

# Logs
*.log

# Environment files
.env



### ignore local env ###
*.env
*.properties
